
/*******************************DESKSTOP************************************/



/************ GENERELT START *************/
@font-face {
    font-family: 'limestoneregular';
    src: url('limestone_regular-webfont.woff2') format('woff2'),
         url('limestone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family: 'limestoneregular';
}

@import url(https://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}



/************ GENERELT SLUT *************/

/************ NAVIGATION START *************/
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}
nav img {
    width: 5%;


}
  nav ul{
    list-style: none;
    position: relative;
    float: none;
    left: 24%;
    margin-right: 100px;
    display: inline-table;
      z-index: 10;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{background: rgba(0,0,0,.15);}
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block;
        padding: 30px 20px;
        color: #222;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 10;

      }
      nav ul ul{
        display: none;
        background: #fff;
        position: absolute;
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
          z-index: 10;
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute;
            left: 100%;
            top:0;
            z-index: 10;
          }
    header {
        z-index: 1;
    }






/************ NAVIGATION SLUT *************/






/************ INDHOLD START *************/






/************ INDHOLD SLUT *************/





/************ FOOTER START *************/
    .contentwrapper {
         bottom: 0;
      background: rgb(255, 255, 255);
      color: #000000;
      width: 100%;
        height: 10%;
          padding: 20px;

        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footy {
        padding-left: 20px;
        padding-right: 20px;

    }
    .content2 {
        width: 6%;
    }
    .content3 {
        width: 6%;
    }
    footer input[type=text] {

  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;

    }
    footer .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}




/************ FOOTER SLUT *************/


/*******************************TABLET************************************/



/************ GENERELT START *************/





/************ GENERELT SLUT *************/






/************ NAVIGATION START *************/






/************ NAVIGATION SLUT *************/






/************ INDHOLD START *************/






/************ INDHOLD SLUT *************/





/************ FOOTER START *************/





/************ FOOTER SLUT *************/


/*******************************MOBIL************************************/



/************ GENERELT START *************/





/************ GENERELT SLUT *************/






/************ NAVIGATION START *************/






/************ NAVIGATION SLUT *************/






/************ INDHOLD START *************/






/************ INDHOLD SLUT *************/





/************ FOOTER START *************/





/************ FOOTER SLUT *************/
